registry=https://registry.npmjs.org/
@telenity:registry=http://nexus:8081/repository/npm-releases/
//nexus:8081/repository/npm-releases/:_auth=Y2VtdDpOcGN0MjAyNSE=
//nexus:8081/repository/npm-releases/:username=cemt
//nexus:8081/repository/npm-releases/:_password=Y2VtdDpOcGN0MjAyNSE=
# //nexus:8081/repository/npm-releases/:email=cem.topkaya@telenity.com



# //nexus:8081/repository/npm-releases/:username=cemt
# //nexus:8081/repository/npm-releases/:_password=Y2VtdDpOcGN0MjAyNSE=
# //nexus:8081/repository/npm-releases/:_auth=Y2VtdDpOcGN0MjAyNSE=
# //nexus:8081/repository/npm-releases/:email=cem.topkaya@telenity.com
# //nexus:8081/repository/npm-releases/:always-auth=true


# @telenity:registry=https://nexus.telenity.com/repository/npm-releases/
# //nexus.telenity.com/repository/npm-releases/:username=cemt
# //nexus.telenity.com/repository/npm-releases/:_password=Y2VtdDpOcGN0MjAyNSE=
# //nexus.telenity.com/repository/npm-releases/:_auth=Y2VtdDpOcGN0MjAyNSE=
# //nexus.telenity.com/repository/npm-releases/:email=cem.topkaya@telenity.com
# //nexus.telenity.com/repository/npm-releases/:always-auth=true

