registry=https://registry.npmjs.org/
@ornekKapsam:registry=http://nexus:8081/repository/npm-paket-deposu/
//nexus:8081/repository/npm-paket-deposu/:username=cem
//nexus:8081/repository/npm-paket-deposu/:_auth_=Y2VtOjExMQ==
//nexus:8081/repository/npm-paket-deposu/:_password=MTEx
//nexus:8081/repository/npm-paket-deposu/:email=cem@example.com
//nexus:8081/repository/npm-paket-deposu/:always-auth=true
